astroid
certifi
chardet
click
colorama
cycler
Flask
gunicorn
idna
isort
itsdangerous
Jinja2
joblib
jsonify
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
numpy
pandas
Pillow
pylint
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
seaborn
six
sklearn
threadpoolctl
toml
Werkzeug
wincertstore
wrapt
